/* COLORS */

$black: #000;
$font: #fff;
$white: #fff;
$red: #CC0000;
$grey: #f2f2f2;
$darkGrey: #ccc;
$lightest: #ffffff;
$darkest: #212121;
$black: #000000;

/* FONTS */

$trimposter: "TrimPoster-Slender", "trim-poster", sans-serif;
$brauerneue:  "BrauerNeue-Regular", "brauerneue", sans-serif;
$lato: "Lato", sans-serif;
$goudy: "goudy-old-style, serif";
$georgia: georgia, "times new roman", times, serif;
